<IfModule mod_expires.c>
  ExpireActif le

  # Images
  ExpiresByType image / jpeg "accès plus 1 an"
  ExpiresByType image / gif "accès plus 1 an"
  ExpiresByType image / png "accès plus 1 an"
  ExpiresByType image / webp "accès plus 1 an"
  ExpiresByType image / svg + xml "accès plus 1 an"
  ExpiresByType image / x-icon "accès plus 1 an"

  # Vidéo
  ExpiresByType video / mp4 "access plus 1 year"
  ExpiresByType video / mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text / css "access plus 1 month"
  ExpiresByType texte / javascript "accès plus 1 mois"
  Application ExpiresByType / javascript "accès plus 1 mois"

  # Autres
  ExpiresByType application / pdf "accès plus 1 mois"
  ExpiresByType application / x-shockwave-flash "accès plus 1 mois"
</IfModule>